svg, img {
    max-width: 90vh;
    max-height: 90vh;
    margin-left: 50%;
    position: fixed;
    top: 0;
}

#ponyCreator {
    width: 90%;
    height: 75vh;
    margin: 5% 0% 5% 5%;
}

.ponyPart {
    position: absolute;
}

body {
    background: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}